  
body {
    margin: 0;
    background-color: rgb(250, 250, 250);
    font-family: Verdana, sans-serif;
}

 .head {
   margin-top: 20px;
   margin-left: 25em;
   margin-right: 25em;
   text-align: center;
   color: rgb(2, 44, 56);
   border-radius: 15px;
   background-color: burlywood;
}

 .data_container {
    width: 600px;
    height: 450px;
    position: relative;
    margin: 0 auto;
 }

 .bar {
   width: 30px;
   position: absolute;
   left: 0;
   bottom: 0;
   background-color: rgb(0, 183, 255);
   transition: 0.6s all ease;
}
 
.bar__id {
   position: absolute;
   top: -24px;
   width: 100%;
   text-align: center;
}

 .btn1 {
     padding: 3px 12px;
    margin-left: 32em;
    margin-top: 30px;
    border-radius: 15px;
    background-color: wheat;
    font-weight: bold;
    

 }

 .btn2 {
    padding: 3px 12px;
     margin-left: 12em;
     border-radius: 15px;
     background-color: wheat;
     font-weight: bold;
 }
 
 .btn3 {
   padding: 3px 12px;
    margin-left: 12em;
    border-radius: 15px;
    background-color: wheat;
    font-weight: bold;
}


